<h2>更新差分一覧</h2>

<table class="table table-sm">
  <thead class="sticky-top bg-white" style="top: 56px;">
    <tr style="font-size: 12px;">
      <th scope="col">更新件数</th>
      <th scope="col">更新日</th>
    </tr>
  </thead>
  <tbody>
    <% @upload_statuses.each_with_index do |upload_status, index| %>
      <tr>
        <td><%= link_to upload_status.upload_score_count, users_upload_status_path(upload_status.id) %></td>
        <td><%= upload_status.created_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @upload_statuses, window: 1 %>