<h3>S-PUCランキング</h3>
<small class="text-muted">S-PUC数が0件のユーザーは表示されません</small>

<table class="table table-sm" style="margin-top: 14px">
  <thead class="sticky-top bg-white" style="top: 56px;">
    <tr style="font-size: 12px;">
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">S-PUC</th>
    </tr>
  </thead>
  <tbody>
    <% @rankings.each.with_index do |ranking, index| %>
      <% user = User.find_by(username: ranking[:username]) %>
      <tr style="<% if user == current_user %>background-color: #ffe69c;<% end %>">
        <th scope="row"><%= @ranks[index] %></td>
        <td style="word-break: break-word;">
          <% if user.ranking_opened == 'open' || user == current_user %>
            <%= link_to ranking[:username], user_path(user.id) %>
          <% else %>
            --
          <% end %>
        </td>
        <td><%= ranking[:max_count].to_i %></td>
      </tr>
    <% end %>
  </tbody>
</table>