<h3>S-PUC(MAX)数ランキング</h3>
<small class="text-muted">S-PUC(MAX)数が0件のユーザーは表示されません</small>


<table class="table table-sm" style="margin-top: 14px">
  <thead class="sticky-top bg-white" style="top: 56px;">
    <tr style="font-size: 12px;">
      <th scope="col">#</th>
      <th scope="col">username</th>
      <th scope="col">S-PUC</th>
      <th scope="col">スコア更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each.with_index do |user, index| %>
      <tr style="<% if user == current_user %>background-color: #ffe69c;<% end %>">
        <th scope="row"><%= index + 1 %></td>
        <td style="word-break: break-word;">
          <% if user.ranking_opened == 'open' || user == current_user %>
            <%= link_to user.username, user_path(user.id) %>
          <% else %>
            --
          <% end %>
        </td>
        <td><%= user.ex_scores.s_puc_count(user.id) %></td>
        <td><%= user.upload_statuses.last.updated_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>