<article class="markdown-body">
  <h1>マイページ</h1>
  <table>
    <tr>
      <td>username</td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>スコア公開情報</td>
      <td><%= @user.opened == 'publiced' ? '公開' : '非公開' %></td>
    </tr>
  </table>

  <h2>EXスコア情報</h2>
  <p><%= link_to '楽曲別EXスコア一覧', '#', class: "btn btn-primary" %></p>
  <p>WIP</p>
  <h3>総S-PUC(MAX)数</h3>
  <h3>レベル別S-PUC(MAX)数</h3>
  <p>おりたたみ</p>
</article>