<article class="markdown-body">
  <h1>マイページ</h1>
  <table>
    <tr>
      <td>username</td>
      <td><%= @user.username %></td>
    </tr>
    <tr>
      <td>PLAYER ID</td>
      <td><%= @user.player_id ? @user.player_id : "-" %></td>
    </tr>
    <tr>
      <td>PLAYER NAME</td>
      <td><%= @user.player_name ? @user.player_name : "-" %></td>
    </tr>
  </table>

  <h2>EXスコア情報</h2>
  <p><%= link_to '楽曲別EXスコア一覧', '#', class: "btn btn-primary" %></p>
  <p>WIP</p>
  <h3>総S-PUC(MAX)数</h3>
  <h3>レベル別S-PUC(MAX)数</h3>
  <p>おりたたみ</p>
</article>