<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h2>
                    500 Internal Server Error</h2>
                <div class="error-details">
                    サーバー側でエラーが発生しました。
                </div>
            </div>
        </div>
    </div>
</div>