<article class="markdown-body">
  <h1>使い方</h1>

  <h2>新規登録/ログイン</h2>
  <p>SDVX-ESTを使ってEXスコアを管理するためにはアカウントの登録が必要になります。</p>
  <p>ランキングやユーザー詳細などはログインしなくても閲覧可能です。</p>

  <h2>スコア登録方法</h2>
  <p>現在、スコア登録にはアカウントの登録と<a href="https://p.eagate.573.jp/gate/pub/course/eapremium/index.html#sdvx">プレミアムコース</a>の加入が必要になります。</p>
  <ol>
    <li><a href="https://p.eagate.573.jp/game/sdvx/vi/playdata/download/index.html">スコアデータ取得ページ</a>からCSVデータをコピーします。</li>
    <li>右上のメニューボタンから「EXスコア登録」を押しコピーしたCSVデータをそのまま貼り付け「スコア登録」を押します。</li>
    <li>正常に登録されたら更新差分詳細のページに飛びます。ここでは、前回と比べ更新された曲の一覧が確認できます</li>
  </ol>

  <h2>スコア閲覧</h2>
  <p>右上のメニューボタンから「EXスコア一覧」ページに飛ぶことができ、登録したスコアの一覧が確認できます。</p>
  <p>曲名横の☆マークをクリックするとお気に入り譜面に登録ができます。</p>
  <p>絞り込み(楽曲名、難易度、Lv別、お気に入り譜面)やソート機能を使用することができます。</p>
  <p>曲名をクリックすると曲別のEXスコアランキングを確認することができます。</p>

  <h2>ランキング</h2>
  <h3>S-PUCランキング</h3>
  <p>SDVX-ESTに登録し一度でもスコア登録をしている方の総S-PUC数のランキングが見ることができます。</p>

  <h3>楽曲別ランキング</h3>
  <p>SDVX-ESTに登録し一度でもスコア登録をしている方の楽曲別EXスコアランキングを見ることができます。</p>
  <p>「譜面一覧」ページや「EXスコア一覧」ページの楽曲名をクリックすると閲覧できます。</p>
  <p>曲名横の☆マークをクリックするとお気に入り譜面に登録ができます。(ログインしている方のみ操作できます)</p>
  <p>絞り込み(楽曲名、難易度、Lv別、お気に入り譜面)やソート機能を使用することができます。</p>

  <h3>TOPスコア一覧</h3>
  <p>楽曲別に一位のスコア(MAX-)とプレイヤー名を確認することができます</p>
  <p>また、ログインをしていると自身のスコアと順位も確認ができます。</p>

  <h2>ユーザー設定</h2>
  <p>右上のメニューボタンから「アカウント設定」ページに飛ぶことができ、アカウントの内容を修正することができます。</p>
  <p>usernameやスコア、ランキングの公開設定、パスワードを変更することができます。</p>

  <h2>最後に</h2>
  <p>ご要望、ご不明な点がございましたら<a href="https://twitter.com/sdvx_EXtool">公式Twiiter(X)</a>にてご連絡ください。</p>
  <br />
</article>