<article class="markdown-body">
  <h1>SDVX-EST とは</h1>
  <p>
    SDVX-EST はコナミアミューズメント様の音楽シミュレーションゲーム
    『<a href="https://p.eagate.573.jp/game/sdvx/vi/index.html">SOUND VOLTEX EXCEED GEAR<a>』の非公式EXスコアツールです。
  </p>
  <p>このスコアツールを使うことでEXスコアの管理やランキングの確認ができます。(CSVでのスコア登録になるので、プレミアムコースの加入が必須となります。)</p>
  <p>現在はEXHAUST以上の譜面の管理ができるようになっております。</p>
  <p>
    EST は <b>E</b>x<b>S</b>core <b>T</b>ool の頭文字です。 
  </p>

  <h2>使い方</h2>
  <p><%= link_to 'こちら', howto_path %>を参照ください。<p>

  <h2>楽曲更新情報</h2>
  <p><%= @last_song_updated_at %> に追加された曲まで更新済みです。<p>

  <h2>作った人</h2>
  <p>てんあ (twitter: <a href="https://twitter.com/chirping_crow">@chirping_crow</a>)</p>
  <p><a href="https://twitter.com/Re_gi_A">れぎ</a>さんのEXスコアツールを譲り受けて開発させていただける形になりました。ありがとうございます🙇‍♂️</p>

  <h2>開発のご支援について</h2>
  <p><%= link_to 'こちら', support_path %>を参照ください。<p>

  <h2>姉妹サイト</h2>
  <p><a href="https://docs.google.com/spreadsheets/d/1-9IkbH0mPwRQiXTfif-qh4c9t2uYd7sorhMUZi_3Fc4/edit#gid=0">SOUND VOLTEX EXCEED GEAR EX SCORE 歴代表</a><p>

  <h2>公式Twitter</h2>
  <p>新曲追加情報や機能追加、不具合情報などは公式Twiiterにてお知らせしております。</p>
  <p>不具合報告、要望等は公式TwitterのDMやリプライにて受け付けておりますのでお気軽にご連絡ください。<p>
  <p>要望等は対応にお時間をいただく場合がございます。あらかじめご了承ください。</p>
  <a class="twitter-timeline" href="https://twitter.com/sdvx_EXtool?ref_src=twsrc%5Etfw">Tweets by sdvx_EXtool</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</article>