<article class="markdown-body">
  <h1>開発のご支援について</h1>

  <p>いつもSDVX-ESTをご利用いただき、ありがとうございます。</p>
  <p>2023年10月現在、約250名以上のユーザーが登録していただき、日々スコアを更新していただいています。<br>皆様、本当にありがとうございます。</p>

  <p>また、ありがたいことに日々機能に関する要望をいただいているのですが、1人で運営しているのもありなかなか着手できていないのが現状です。<br>
  そちらを対応するため、<b>大規模な機能改修(時期未定)</b>を考えております。</p>

  <p>そこで、この度SDVX-ESTをご利用いただいている皆様からのご支援をお願いすることにいたしました。</p>

  <p>いただいたご支援は、サーバーやドメインの維持費、および開発に必要な諸経費に充てさせていただきます。<br>
  開発のモチベーション維持やサービスをより長く運営していくために、皆様のご支援を心よりお願い申し上げます。</p>

  <p>ご支援いただいた方には、トップページにお名前を掲載させていただきます。（匿名でのご支援も可能ですので、お気軽にお申し付けください）<br>
  また、大規模な改修後の機能改善の要望に積極的に対応させていただきたいと考えております。</p>

  <h2>ご支援方法について</h2>

  <ol>
    <li><b>PayPay送金</b></li>
    <ul><li>id: chirping_crow 宛に送金くださるようお願いします。</li></ul>
    <ul><li>サイトに掲載させていただくお名前をチャットにて添えていただくようお願いします。(匿名可)</li></ul>
    <ul><li>金額に関してはお気持ちの分をいただければと思います。</li></ul>

    <li><b><a href="https://www.amazon.co.jp/hz/wishlist/ls/3N4B0YV2QSR4P?ref_=wl_share">Amazonほしい物リスト</a></b></li>

    <li><b><a href="https://www.amazon.co.jp/dp/BT00DHI8G4">アマゾンギフト券</b></a></li>
    <ul><li>usobukuhito☆gmail.com(☆→@) 宛にお願いします。</li></ul>
    <ul><li>掲載させていただくお名前を「贈り主」欄に記入いただくようお願いします。(匿名可)</li></ul>
    <ul><li>金額に関してはお気持ちの分をいただければと思います。</li></ul>

    <li><b>その他</b></li>
    <ul><li>どのような手段でも検討しますので<a href="https://twitter.com/sdvx_EXtool">公式Twitter(X)</a>のDMにてお気軽に相談ください。</li></ul>
  </ol>
  <br>
</article>