@import "bootstrap";

@import "./*";

.navbar-light .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.pagination {
  justify-content: center;
}

// badges color
.badge-bg-NOV {
  background-color: #bb5dff;
}

.badge-bg-ADV {
  background-color: #ffff00;
}

.badge-bg-EXH {
  background-color: #fa2607;
  color: white;
}

.badge-bg-INF {
  background-color: #ff00ff;
  color: white;
}

.badge-bg-GRV {
  background-color: #e5720a;
  color: white;
}

.badge-bg-MXM {
  background-color: #96999e;
  color: white;
}

.badge-bg-HVN {
  background-color: #00b0f0;
  color: white;
}

.badge-bg-VVD {
  background-color: #f82374;
  color: white;
}

.badge-bg-XCD {
  background-color: #227eff;
  color: white;
}