<p>Hello <%= @resource.email %>!</p>

<p>パスワードを変更するためのリンクをリクエストされました。以下のリンクから行うことができます。</p>
<p>このメールが発行されてから6時間有効です。</p>

<p><%= link_to 'パスワードを変更する', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>リクエストしていない場合は、このメールを無視してください。</p>
<p>上記のリンクにアクセスして新しいパスワードを作成するまでは、パスワードは変更されません</p>

<p>SDVX-EST<p>